<h1>Listing users</h1>
<p>Welcome <%=current_user.name %></p>
<% if can? :manage, User %>
<%= link_to('users',users_path)%>
<% end %>


<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= image_tag(user.picture_url, :width => 600) if user.picture.present? %></td>
        <td><%= link_to 'Show', user,class:'btn' %></td>
        <td><%= link_to 'Edit', edit_user_path(user),class: 'btn btn-primary'%></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' },class:'btn btn-warning'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
