<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Voice:</strong>
  <%= @member.voice %>
</p>
<%= form_for @member do |f| %>
<ul> <% @attendance.events.each do |event| %>
	<p>
	<%= check_box_tag("event",event.id) %>
	<%= event.name %>
	</p>

<% end %></ul>
<p>
  <strong>Practice:</strong>
  <%= @member.practice %>
</p>

<p>
  <strong>Attendance:</strong>
  <%= @member.attendance %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
